.vscode/

# Default ignored files
*/shelf/
*/workspace.xml
# Datasource local storage ignored files
*/dataSources/
*/dataSources.local.xml
# Editor-based HTTP Client requests
*/httpRequests/

.app/src/main/java/com/mongodb/quickstart/connection.txt

*.class